.button-sub {
    width: 100%;
    padding: 2rem 0 2rem 0;
    text-align: center;
    border: none;
    outline: none;
    border: 2px solid $main_color;
    cursor: pointer;
    background-color: transparent;
    .title {
        color: $main_color;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;

        &:hover {
            opacity: 0.6;
        }
    }
}